# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtualenv
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE/editor
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db